<h1>Listing tweets</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
        <td>
          <%= link_to tweet do %>
            <%= time_ago_in_words(tweet.created_at) %>
            ago
          <% end %>
        </td>
        <td><%= link_to 'Delete forever', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
